.home-page {
    display: flex;
    flex-direction: column;
    margin: 0 0 8rem 0;
}


.home-page-card {

    display: grid;
    align-items: center;
    background-color: cadetblue;
    gap: 1rem;
    margin: 2rem;
    padding: 2rem;
    cursor: pointer;
}


/* VERSIÓN PC */
/* .home-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(25%);
    margin: 0 0 8rem 0;
}


.home-page-card {

    display: grid;
    align-items: center;
    background-color: cadetblue;
    gap: 1rem;
    margin: 2rem;
    padding: 2rem;
    cursor: pointer;
} */